anyio==3.6.2
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
contourpy==1.0.6
cycler==0.11.0
Faker==15.3.1
fonttools==4.38.0
h11==0.14.0
httpcore==0.16.2
httpx==0.23.1
idna==3.4
joblib==1.2.0
kiwisolver==1.4.4
loguru==0.6.0
lxml==4.9.2
matplotlib==3.6.2
nltk==3.7
numpy==1.23.5
packaging==22.0
Pillow==9.3.0
pygame==2.1.2
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.21.0
regex==2022.10.31
requests==2.28.1
requests-toolbelt==0.10.1
rfc3986==1.5.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.3.2.post1
spintax==1.0.4
tqdm==4.64.1
urllib3==1.26.12
win32-setctime==1.1.0
